[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-sqlalchemy = "*"
flask-login = "*"
python-dotenv = "*"
gunicorn = "*"
psycopg2 = "*"
flask-migrate = "*"
flask-script = "*"
marshmallow = "*"
flask-bcrypt = "*"
pyjwt = "*"
uwsgi = "*"
Bootstrap-Flask = "*"
Flask-WTF = "*"
flask-swagger-ui = "*"
matplotlib = "*"
pandas = "*"
wordcloud = "*"
pipfile = "*"

[requires]
python_version = "3.8"
