alembic==1.3.2
bcrypt==3.1.7
Bootstrap-Flask==1.2.0
cffi==1.13.2
Click==7.0
cycler==0.10.0
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Login==0.4.1
Flask-Migrate==2.5.2
Flask-Script==2.0.6
Flask-SQLAlchemy==2.4.1
flask-swagger-ui==3.20.9
Flask-WTF==0.14.2
gunicorn==20.0.4
itsdangerous==1.1.0
Jinja2==2.10.3
kiwisolver==1.1.0
Mako==1.1.0
MarkupSafe==1.1.1
marshmallow==3.3.0
matplotlib==3.1.2
numpy==1.18.0
pandas==0.25.3
Pillow==6.2.1
pipfile==0.0.2
psycopg2==2.8.4
psycopg2-binary==2.8.4
pycparser==2.19
PyJWT==2.4.0
pyparsing==2.4.6
python-dateutil==2.8.1
python-dotenv==0.10.3
python-editor==1.0.4
pytz==2019.3
six==1.13.0
SQLAlchemy==1.3.12
toml==0.10.0
uWSGI==2.0.18
Werkzeug==0.16.0
wordcloud==1.6.0
WTForms==2.2.1
